body {
    margin: 0;
    padding: 0;
}

.forReact {
    background: blue;
    color: red;
}

.forButton {
    outline: none;
    border-style: none;
    width: 100px;
    height: 50px;
    background: palegoldenrod;
}